<div class="container">
    <h4>Consulta del tiempo</h4>
    <h5>{{fecha | date:'fullDate'}}</h5>
    <br>
    <div class="columns is-variable is-1-mobile is-0-tablet is-3-desktop is-8-widescreen is-2-fullhd">
        <div class="column">
            <form [formGroup]="formulario" (ngSubmit)="consultar()">
                <div class="field">
                    <label class="label">Ciudad</label>
                    <div>
                      <input type="text" placeholder="Ingrese ciudad" class="input" id="text-ciudad" formControlName="ciudad">
                    </div>
                    <p class="text-danger"
                    *ngIf="formulario.controls.ciudad.invalid && formulario.controls.ciudad.touched">Porfavor solo escribe letras</p>
                </div>
                <div class="field">
                    <label class="label">Código de ciudad</label>
                    <div>
                      <input type="text" placeholder="Ingrese código de ciudad" class="input" id="text-codigo" formControlName="codigo">
                    </div>
                    <p class="has-text-danger"
                    *ngIf="formulario.controls.ciudad.invalid && formulario.controls.ciudad.touched">Porfavor solo escribe letras</p>
                </div>
                    <button type="submit" class="button is-link">Consultar</button>
            </form>
            <p class="has-text-danger" *ngIf="verError">{{msjError}}</p>
    
        </div>
        <div class="column">
            <div class="card">
                <div class="card-content">
                    <div class="content">
                      <!--Se genera una lista-->
                      <ul>
                          <li>Descripcion: {{descripcion}}</li>
                          <li>Temperatura: {{temperatura}}</li>
                          <li>Humedad: {{humedad}}</li>
                          <li>Ciudad: {{nombre | uppercase}}</li>
                          <li>Latitud: {{latitud}}</li>
                          <li>Longitud: {{longitud}}</li>
                      </ul>
                    </div>
                  </div>
            </div>
        </div>
      </div>
  </div>